.accordion{
    margin: 24px 0;

    .accordion-item{
        border: none;
        background-color: transparent;

        &:not(:last-child){
            margin-bottom: 16px;   
        }
    }

    .accordion-header{
        line-height: normal;

        button{
            padding: 24px 60px 24px 24px ;
            font-size: rem(18);
            color: var(--text-primary-01-var-1);
            background-color: var(--pure-white);
            border: none;
            border-bottom: 1px solid var(--text-grey-scale-02);
            box-shadow: none;
            font-weight: 400;
            border-radius: 2px;

            &::after{
                content: "";
                position: absolute;
                right: 32px;
                height: 24px;
                width: 24px;
                background: url('../images/icons/icon-abrir-accordion.svg') no-repeat center;
                background-size: contain;
                transition: .3s ease;
                font-weight: 400;
            }

            &:not(.collapsed){
                background-color: var(--secondary-01-var-1);
                color: var(--text-white);
                font-weight: 700;
                border-bottom: 1px solid var(--text-secondary-01-default);
                &::after{
                    background: url('../images/icons/icon-fechar-accordion.svg') no-repeat center;
                }
            }

            &.collapsed:hover{
                color: var(--text-primary-01-var-2);
                border-bottom: 1px solid var(--text-primary-01-var-1);
            }
            
        }
    }

    .accordion-collapse{
        border: none;
        box-shadow: none;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        border-bottom: 1px solid var(--text-grey-scale-02);
        
        .accordion-body{
            padding: 16px;
        }
    }

}