.acessibillity-bar {
  padding-top: 12px;
  padding-bottom: 12px;

  background-color: var(--grey-scale-09);
  transition: 0.3s;

  position: relative;
  z-index: 104;

  @media (max-width: 1200px) {
    display: none;
  }

  .content {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .left-top-header {
      display: flex;
      align-items: center;
      gap: 8px;

      a,
      p {
        color: var(--text-white);
        font-size: rem(12);
        font-family: var(--font-text-3);
        letter-spacing: 0.5px;
        text-decoration: none;
        margin-bottom: 0;
      }

      p {
        display: flex;
        align-items: center;
        gap: 8px;

        &::after {
          content: "";
          height: 16px;
          width: 1px;
          background-color: var(--text-white);
          display: block;
        }
      }

      a {
        display: flex;
        align-items: center;
        gap: 4px;
        color: var(--text-white);
        line-height: 145%;
        opacity: 0.5;

        &::after {
          content: "";
          height: 12px;
          width: 12px;
          background: url("../images/icons/icon-site.svg") no-repeat center;
          background-size: contain;
          display: block;
        }
      }
    }

    .right-top-header {
      display: flex;
      align-items: center;
      gap: 40px;

      .accessibility-tools {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        & > a {
          margin-right: 32px;
          display: block;

          text-decoration: none;
          text-underline-offset: 1px;
          color: var(--text-white);

          small {
            color: var(--text-white);
            font-size: rem(12);
            display: block;
          }

          &:hover {
            text-decoration: underline;
          }
        }

        .tool {
          border: none;
          border-radius: 4px;

          padding-left: 0px;
          padding-right: 0px;

          cursor: pointer;

          text-align: center;
          text-decoration: none;
          vertical-align: middle;

          background-color: transparent;

          &:not(:last-of-type) {
            margin-right: 12px;
          }

          [class^="icon-"] {
            display: block;
            color: var(--text-color);
          }
        }
      }

      .idiomas {
        display: flex;
        align-items: center;

        &::before {
          content: "";
          height: 12px;
          width: 12px;
          background: url("../images/icons/icon-site.svg") no-repeat center;
          background-size: contain;
          display: block;
          margin-right: 6px;
        }

        a {
          font-size: rem(12);
          color: var(--text-white);
          opacity: 0.4;
          display: flex;
          align-items: center;
          text-decoration: none;

          &.active {
            opacity: 1;
            font-weight: 700;
          }

          &:not(:last-child) {
            &::after {
              content: "";
              display: block;
              height: 9px;
              width: 1px;
              margin: 0 8px;
              background-color: var(--text-grey-scale-05);
            }
          }
        }
      }
    }
  }
}

.headerFixoMenu.not-transparent {
  .acessibillity-bar {
    background-color: var(--secondary-2);
  }
}

.searchbox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  transform: translateY(-100%);

  padding: 32px 0;

  z-index: 1000;

  background-color: var(--pure-white);
  transition: transform 0.2s linear;

  &.active {
    transform: translate(0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }

  .input-group {
    position: relative;
    margin-bottom: 6px;

    border-bottom: 1px solid var(--text-grey-scale-02);
    color: var(--text-white);

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -1px;

      width: 0;
      height: 1px;

      transition: 0.4s;
      background-color: var(--text-azul-1);
    }

    &.focused-border::after {
      width: 100%;
      transition: 0.4s;
      z-index: 99;
    }

    .form-control {
      box-shadow: none;

      border: none;
      border-radius: 0;

      padding-left: 0;
      padding-right: 0;

      font-size: rem(19px);
      line-height: rem(26px);

      color: var(--text-color);
      background-color: transparent;

      &::placeholder {
        color: var(--text-azul-1);
        font-weight: 400;
      }
    }

    .input-group-text {
      border: none;
      border-radius: 0;

      background-color: transparent;

      button {
        border: 0;
        padding: 0;

        background-color: transparent;

        [class^="icon-"] {
          display: block;

          font-size: rem(22);

          &::before {
            color: var(--text-azul-3);
            transform: rotate(45deg);
            display: block;
          }
          transition: color var(--transition);
        }
      }
    }
  }

  .search-help {
    small {
      color: var(--text-color);
      font-size: rem(12);
      letter-spacing: 0.5px;
    }
  }
}

.modal {
  .modal-content {
    padding: 24px;
  }
  .modal-dialog {
    max-width: 380px;
    width: 100%;
    margin: 0 auto;
    padding: 0 8px;
  }
  .header-modal {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      margin-bottom: 0;
      font-weight: 700;
      color: var(--text-primary-1);
    }

    button {
      background-color: transparent;
      border: none;

      img {
        filter: brightness(0) invert(23%) sepia(99%) saturate(1669%)
          hue-rotate(205deg) brightness(91%) contrast(95%);
      }
    }
  }
  .modal-body {
    padding: 0;

    iframe {
      width: 100%;
    }
  }
}

#loginModal,
#modalCadastro,
#forgotModal {
  .modal-body {
    h6 {
      font-size: rem(14);
    }

    > p {
      margin-top: 24px;
      margin-bottom: 32px;
      color: var(--text-color);
      font-size: rem(14);
    }
  }
}

.body-alert-modal {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;

  img {
    max-width: 60px;
    margin: 0 auto;
    margin-bottom: 16px;
  }

  h5 {
    font-size: rem(16);
    color: var(--system-positive);
    margin: 0;
  }
}

.termos-politica {
  position: fixed;
  width: 100%;
  z-index: 200;
  background-color: var(--pure-white);
  padding: 16px 0;
  bottom: 0px;
  box-shadow: 0 1px 10px 2px rgb(0 0 0 / 20%);

  h3 {
    margin-top: 0;
  }

  small {
    display: block;
  }

  .primary-button {
    margin-top: 16px;
  }
}
