:root {
	// Font Family

	--font-text-1: 'Lato';
	--font-text-2: 'Inter';
	--font-icomoon: 'Icomoon';

	// Text Colors

	--text-color: #666666;

	--text-white: #FFFFFF;
	--text-black: #111111;

	--text-primary-01-default: #00649C;
	--text-primary-01-var-1: #004166;
	--text-primary-01-var-2: #005280;
	--text-primary-01-var-3: #0072B2;
	--text-primary-01-var-4: #0083CC;
	--text-primary-01-var-5: #0093E5;

	--text-secondary-01-default: #008BD2;
	--text-secondary-01-var-1: #00699E;
	--text-secondary-01-var-2: #007AB8;
	--text-secondary-01-var-3: #3FA0D2;
	--text-secondary-01-var-4: #43A9DE;
	--text-secondary-01-var-5: #49B8F2;

	--text-tertiary-01-default: #29B8CE;
	--text-tertiary-01-var-1: #1F8999;
	--text-tertiary-01-var-2: #249FB2;
	--text-tertiary-01-var-3: #29B6CC;
	--text-tertiary-01-var-4: #2ECDE5;
	--text-tertiary-01-var-5: #31D9F2;

	--text-grey-scale-00: #FFFFFF;
	--text-grey-scale-01: #EEEEEE;
	--text-grey-scale-02: #DDDDDD;
	--text-grey-scale-03: #BBBBBB;
	--text-grey-scale-04: #999999;
	--text-grey-scale-05: #666666;
	--text-grey-scale-06: #444444;
	--text-grey-scale-07: #333333;
	--text-grey-scale-08: #222222;
	--text-grey-scale-09: #111111;
	

	--text-grey-scale-c4: #c4c4c4;
	--text-system-disabled: #D9D9D9;

	--text-system-link: #1A0DAB;
	--text-system-focus: #2E82E5;
	--text-system-link-visited: #1B1466;
	--text-system-negative: #D23A20;
	--text-system-alert: #ECB307;
	--text-system-positive: #1E986F;

	// Solid Colors

	--color: #666666;

	--pure-white: #FFFFFF;
	--pure-black: #111111;

	--primary-01-default: #00649C;
	--primary-01-var-1: #004166;
	--primary-01-var-2: #005280;
	--primary-01-var-3: #0072B2;
	--primary-01-var-4: #0083CC;
	--primary-01-var-5: #0093E5;

	--secondary-01-default: #008BD2;
	--secondary-01-var-1: #00699E;
	--secondary-01-var-2: #007AB8;
	--secondary-01-var-3: #3FA0D2;
	--secondary-01-var-4: #43A9DE;
	--secondary-01-var-5: #49B8F2;

	--tertiary-01-default: #29B8CE;
	--tertiary-01-var-1: #1F8999;
	--tertiary-01-var-2: #249FB2;
	--tertiary-01-var-3: #29B6CC;
	--tertiary-01-var-4: #2ECDE5;
	--tertiary-01-var-5: #31D9F2;

	--grey-scale-00: #FFFFFF;
	--grey-scale-01: #EEEEEE;
	--grey-scale-02: #DDDDDD;
	--grey-scale-03: #BBBBBB;
	--grey-scale-04: #999999;
	--grey-scale-05: #666666;
	--grey-scale-06: #444444;
	--grey-scale-07: #333333;
	--grey-scale-08: #222222;
	--grey-scale-09: #111111;

	--grey-scale-c4: #c4c4c4;
	--system-disabled: #D9D9D9;

	--system-link: #1A0DAB;
	--system-focus: #2E82E5;
	--system-link-visited: #1B1466;
	--system-negative: #D23A20;
	--system-alert: #ECB307;
	--system-positive: #1E986F;
}